In [1]:
import pandas as pd

In [157]:
apple = pd.read_csv('AAPL Historical Data.csv')
amazon = pd.read_csv('AMZN Historical Data.csv')
google = pd.read_csv('GOOGL Historical Data.csv')
netflix = pd.read_csv('NFLX Historical Data.csv')

In [158]:
apple = apple[apple['Date']>'2010-01-01']
apple = apple[apple['Date']<'2020-12-30']
apple['Date'] = pd.to_datetime(apple['Date'])
apple['month'] = apple['Date'].dt.strftime('%m')
apple['year'] = apple['Date'].dt.strftime('%Y')

apple_final = apple[['month','year','Close']]
apple_final.columns = ('month','year','price_apple')
apple_final = pd.DataFrame(apple_final.groupby(['month',"year"])['price_apple'].mean().sort_index().reset_index())
apple_final.sort_values(by=["year","month"],inplace=True)

stock_prices = pd.DataFrame(apple_final['month'] + "-" + apple_final['year'])
stock_prices.columns = ['date']
stock_prices['date'] = pd.to_datetime(stock_prices['date']).dt.strftime('%b %Y')
stock_prices['price_apple'] = apple_final['price_apple'].round(3)
stock_prices = stock_prices[['date','price_apple']]

In [159]:
amazon = amazon[amazon['Date']>'2010-01-01']
amazon = amazon[amazon['Date']<'2020-12-30']
amazon['Date'] = pd.to_datetime(amazon['Date'])
amazon['month'] = amazon['Date'].dt.strftime('%m')
amazon['year'] = amazon['Date'].dt.strftime('%Y')

amazon_final = amazon[['month','year','Close']]
amazon_final.columns = ('month','year','price_amazon')
amazon_final = pd.DataFrame(amazon_final.groupby(['month',"year"])['price_amazon'].mean().sort_index().reset_index())
amazon_final.sort_values(by=["year","month"],inplace=True)

stock_prices['price_amazon'] = amazon_final['price_amazon'].round(3)

In [160]:
netflix = netflix[netflix['Date']>'2010-01-01']
netflix = netflix[netflix['Date']<'2020-12-30']
netflix['Date'] = pd.to_datetime(netflix['Date'])
netflix['month'] = netflix['Date'].dt.strftime('%m')
netflix['year'] = netflix['Date'].dt.strftime('%Y')

netflix_final = netflix[['month','year','Close']]
netflix_final.columns = ('month','year','price_netflix')
netflix_final = pd.DataFrame(netflix_final.groupby(['month',"year"])['price_netflix'].mean().sort_index().reset_index())
netflix_final.sort_values(by=["year","month"],inplace=True)

stock_prices['price_netflix'] = netflix_final['price_netflix'].round(3)

In [161]:
google = google[google['Date']>'2010-01-01']
google = google[google['Date']<'2020-12-30']
google['Date'] = pd.to_datetime(google['Date'])
google['month'] = google['Date'].dt.strftime('%m')
google['year'] = google['Date'].dt.strftime('%Y')

google_final = google[['month','year','Close']]
google_final.columns = ('month','year','price_google')
google_final = pd.DataFrame(google_final.groupby(['month',"year"])['price_google'].mean().sort_index().reset_index())
google_final.sort_values(by=["year","month"],inplace=True)

stock_prices['price_google'] = google_final['price_google'].round(3)

In [162]:
stock_prices

         date  price_apple  price_amazon  price_netflix  price_google
0    Jan 2010        7.417         6.372          7.559        14.478
11   Feb 2010        7.100         5.902          9.062        13.384
22   Mar 2010        7.978         6.546         10.147        14.039
33   Apr 2010        8.969         7.053         12.803        13.940
44   May 2010        8.980         6.380         14.558        12.445
..        ...          ...           ...            ...           ...
87   Aug 2020      117.301       162.461        498.075        77.251
98   Sep 2020      115.125       158.038        495.553        75.574
109  Oct 2020      116.413       161.530        515.142        77.095
120  Nov 2020      116.826       157.090        487.444        87.169
131  Dec 2020      126.699       159.519        514.960        88.502

[132 rows x 5 columns]

In [163]:
stock_prices.to_csv('dataset.csv', index = False, encoding='utf-8')